<div>
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
    id="m_login" appunwraptag>
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper">
            <div class="m-login__logo">
              <a href="#">
                <img src="./assets/app/media/img/logos/logo-1.png">
              </a>
            </div>
            <div class="m-login__signin">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Sign In To IAE Drive
                </h3>
                <div class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-success fade show" role="alert">
                  Click Login button to sign in with you google account.
                </div>
              </div>
              <div class="form-control-feedback" *ngxErrorTemplate="let item; maxError: 1">
                {{ item.message }}
              </div>
              <form class="m-login__form m-form" [formGroup]="loginForm" novalidate>
                <form-alert *ngIf="isLoginFail" (close)="isLoginFail=false" message="Incorrect username or password. Please try again."></form-alert>
                
                <div class="m-login__form-action">
                  <button id="m_login_signin_submit" (click)="login($event)" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                    [ngClass]="{'m-loader m-loader--right m-loader--light': isLoggingin}" [disabled]="isLoggingin">
                    Sign In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content"
      style="background-image: url(./assets/app/media/img/bg/bg-4.jpg)">
      <div class="m-grid__item m-grid__item--middle">
        <h3 class="m-login__welcome">
          Join Our Community
        </h3>
        <p class="m-login__msg">
          Lorem ipsum dolor sit amet, coectetuer adipiscing
          <br> elit sed diam nonummy et nibh euismod
        </p>
      </div>
    </div>
  </div>
</div>